* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #e4f2ea;
}
.hNav {
    width: 100%;
    background-color: #11181e;
    min-height: 50px;
    text-align: center;
}
.hNav ul {
    display: block;
    padding-top: .5em;
}
.hNav li {
    display: inline-block;
    list-style-type: none;
    width: 15%;
    padding: 0 2%;
}
.hNav a {
    text-decoration: none;
    color: #e4f2ea;
    font-size: 1.5em;
    font-weight: bold;
}

header {
    background-color: #734f2f;
    min-height: 400px;
    background-image: url("../images/appearance_beagle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 20%;
}





h1 {}
h2 {}
blockquote {}
table {}

nav a:hover {}